.venv_agent
*.db
*.db-journal
*.db-wal
*.db-shm
*/credentials.yaml
*/df.csv
*.gguf
*.ggml
*.toml
*.sqlite3
*.parquet
*.feather
backup_sentence_transformer
all-MiniLM-L6-v2
nomic-embed-text-v2-moe
*.safetensors
snowflake-arctic-embed-l-v2.0
__pycache__
*.pkl
*.index
*.json
*.xlsx
*.csv
*temp